In [66]:
import pandas
csvfile = pandas.read_csv('complete.csv')

#reading csv

In [67]:
csvfile['count'] = 1

consolidated_csvfile=csvfile.groupby(['Image name']).count()['count']
#consolidating csv

In [83]:
import glob
from PIL import Image
import numpy as np
#https://stackoverflow.com/questions/51178166/iterate-through-folder-with-pillow-image-open

images = glob.glob("output/*.jpg")
for image in images:
    with open(image, 'rb') as file:
        img = Image.open(file)
        img=np.array(img)
        a=img.shape
        
       
        
        
        
       
       
        
        
        

#finding dimentions of all the jpeg files
#pattern(x:co-ordinate, y:co-ordinate, rgb:channel=3)

In [82]:
#https://stackoverflow.com/questions/36271413/pandas-merge-nearly-duplicate-rows-based-on-column-value
variable2 = csvfile.groupby('Image name').agg({'object name': ', '.join, 
                             }).reset_index()
variable2.to_csv('objectNAMESconsolidated.csv', encoding='utf-8', index=False)

In [91]:
#https://stackoverflow.com/questions/53055315/filter-rows-with-minimum-values-groupwise-in-pandas-dataframe

import pandas
csvfile2 = pandas.read_csv('preparing.csv')

variable6 = csvfile2[csvfile2['X-centre'] == csvfile2.groupby('Image name')['X-centre'].transform('min')]


variable6.to_csv('minimalXcentre+objectName+preparing+2.csv', encoding='utf-8', index=False)
                              
                           
#variable2.to_csv('objectNAMESjoined.csv', encoding='utf-8', index=False)

In [ ]:
#https://stackoverflow.com/questions/53055315/filter-rows-with-minimum-values-groupwise-in-pandas-dataframe

import pandas
csvfile2 = pandas.read_csv('preparing.csv')

variablemax = csvfile2[csvfile2['X-centre'] == csvfile2.groupby('Image name')['X-centre'].transform('max')]


variablemax.to_csv('maximalXcentre+objectName+preparing.csv', encoding='utf-8', index=False)

In [94]:
#https://stackoverflow.com/questions/53055315/filter-rows-with-minimum-values-groupwise-in-pandas-dataframe

import pandas
csvfile3 = pandas.read_csv('preparing.csv')

variablemax = csvfile3[csvfile2['Y-centre'] == csvfile3.groupby('Image name')['Y-centre'].transform('max')]


variablemax.to_csv('maximalYcentre+objectName+preparing.csv', encoding='utf-8', index=False)

In [95]:
#https://stackoverflow.com/questions/53055315/filter-rows-with-minimum-values-groupwise-in-pandas-dataframe

import pandas
csvfile4 = pandas.read_csv('preparing.csv')

variablemin = csvfile3[csvfile2['Y-centre'] == csvfile3.groupby('Image name')['Y-centre'].transform('min')]


variablemin.to_csv('minimlalYcentre+objectName+preparing.csv', encoding='utf-8', index=False)
                              
variablemin

,Image name,Object number,X1,Y1,X2,Y2,object name,X-centre,Y-centre,X-Image Dimentions,...,y centre of object,x centre of object,X centre < (1/4)*X-cordinates,has on the left,has on the right,has on the top,has on the buttom,has in the center,has isolated object,left of
0,download (1).jpg.txt,2,26,22,277,144,car,151.5,83.0,168,...,83.0,151.5,False,car,car,na,na,na,car,NaN
2,download (10).jpg.txt,41,1,0,83,114,cup,42.0,57.0,168,...,57.0,42.0,False,cup,na,cup,na,na,cup,NaN
3,download (11).jpg.txt,15,18,3,265,164,cat,141.5,83.5,168,...,83.5,141.5,False,cat,cat,na,na,na,na,NaN
4,download (12).jpg.txt,15,1,10,181,217,cat,91.0,113.5,224,...,113.5,91.0,False,cat,na,na,na,na,cat,NaN
5,download (12).jpg.txt,60,8,9,221,218,diningtable,114.5,113.5,224,...,113.5,114.5,False,diningtable,na,na,na,na,na,NaN
6,download (13).jpg.txt,15,35,0,257,159,cat,146.0,79.5,159,...,79.5,146.0,False,cat,cat,na,na,na,na,NaN
8,download (14).jpg.txt,20,4,36,88,162,elephant,46.0,99.0,194,...,99.0,46.0,True,na,na,na,na,na,na,NaN
11,download (15).jpg.txt,20,254,50,299,116,elephant,276.5,83.0,168,...,83.0,276.5,False,elephant,elephant,na,na,na,na,NaN
18,download (16).jpg.txt,20,41,8,169,165,elephant,105.0,86.5,184,...,86.5,105.0,False,elephant,na,na,na,na,na,NaN
20,download (17).jpg.txt,20,21,20,200,155,elephant,110.5,87.5,183,...,87.5,110.5,False,elephant,na,na,na,na,na,NaN
24,download (18).jpg.txt,16,22,6,171,133,dog,96.5,69.5,190,...,69.5,96.5,False,dog,na,na,na,na,na,NaN
25,download (19).jpg.txt,20,48,26,249,150,elephant,148.5,88.0,179,...,88.0,148.5,False,elephant,elephant,na,na,na,na,NaN
28,download (2).jpg.txt,2,234,73,270,88,car,252.0,80.5,168,...,80.5,252.0,False,car,car,na,na,na,na,NaN
29,download (3).jpg.txt,0,245,33,279,144,person,262.0,88.5,168,...,88.5,262.0,False,person,person,na,na,na,na,NaN
31,download (4).jpg.txt,2,18,34,241,146,car,129.5,90.0,194,...,90.0,129.5,False,car,na,na,na,na,na,NaN
32,download (5).jpg.txt,2,0,32,275,141,car,137.5,86.5,183,...,86.5,137.5,False,car,car,na,na,na,na,NaN
33,download (6).jpg.txt,5,9,47,231,118,bus,120.0,82.5,194,...,82.5,120.0,False,bus,na,na,na,na,na,NaN
35,download (7).jpg.txt,9,4,83,8,92,traffic light,6.0,87.5,172,...,87.5,6.0,True,na,na,na,na,na,na,NaN
36,download (8).jpg.txt,5,11,28,292,142,bus,151.5,85.0,159,...,85.0,151.5,False,bus,bus,na,na,na,na,NaN
37,download (9).jpg.txt,5,15,39,242,154,bus,128.5,96.5,194,...,96.5,128.5,False,bus,na,na,na,na,na,NaN
39,download.jpg.txt,2,38,64,241,154,car,139.5,109.0,171,...,109.0,139.5,False,car,car,na,na,na,na,NaN
40,images (1).jpg.txt,20,67,35,246,157,elephant,156.5,96.0,194,...,96.0,156.5,False,elephant,elephant,na,na,na,na,NaN
47,images.jpg.txt,20,86,0,250,168,elephant,168.0,84.0,173,...,84.0,168.0,False,elephant,elephant,na,na,na,na,NaN