In [66]:
import pandas
csvfile = pandas.read_csv('complete.csv')

#reading csv

In [67]:
csvfile['count'] = 1

consolidated_csvfile=csvfile.groupby(['Image name']).count()['count']
#consolidating csv

In [83]:
import glob
from PIL import Image
import numpy as np
#https://stackoverflow.com/questions/51178166/iterate-through-folder-with-pillow-image-open

images = glob.glob("output/*.jpg")
for image in images:
    with open(image, 'rb') as file:
        img = Image.open(file)
        img=np.array(img)
        a=img.shape
        
       
        
        
        
       
       
        
        
        

#finding dimentions of all the jpeg files
#pattern(x:co-ordinate, y:co-ordinate, rgb:channel=3)

In [82]:
#https://stackoverflow.com/questions/36271413/pandas-merge-nearly-duplicate-rows-based-on-column-value
variable2 = csvfile.groupby('Image name').agg({'object name': ', '.join, 
                             }).reset_index()
variable2.to_csv('objectNAMESconsolidated.csv', encoding='utf-8', index=False)

In [91]:
#https://stackoverflow.com/questions/53055315/filter-rows-with-minimum-values-groupwise-in-pandas-dataframe

import pandas
csvfile2 = pandas.read_csv('preparing.csv')

variable6 = csvfile2[csvfile2['X-centre'] == csvfile2.groupby('Image name')['X-centre'].transform('min')]


variable6.to_csv('minimalXcentre+objectName+preparing+2.csv', encoding='utf-8', index=False)
                              
                           
#variable2.to_csv('objectNAMESjoined.csv', encoding='utf-8', index=False)

In [ ]:
#https://stackoverflow.com/questions/53055315/filter-rows-with-minimum-values-groupwise-in-pandas-dataframe

import pandas
csvfile2 = pandas.read_csv('preparing.csv')

variablemax = csvfile2[csvfile2['X-centre'] == csvfile2.groupby('Image name')['X-centre'].transform('max')]


variablemax.to_csv('maximalXcentre+objectName+preparing.csv', encoding='utf-8', index=False)

In [92]:
#https://stackoverflow.com/questions/53055315/filter-rows-with-minimum-values-groupwise-in-pandas-dataframe

import pandas
csvfile3 = pandas.read_csv('preparing.csv')

variablemax = csvfile3[csvfile2['Y-centre'] == csvfile3.groupby('Image name')['Y-centre'].transform('max')]


variablemax.to_csv('maximalYcentre+objectName+preparing.csv', encoding='utf-8', index=False)
                              
variablemax

,Image name,Object number,X1,Y1,X2,Y2,object name,X-centre,Y-centre,X-Image Dimentions,...,y centre of object,x centre of object,X centre < (1/4)*X-cordinates,has on the left,has on the right,has on the top,has on the buttom,has in the center,has isolated object,left of
0,download (1).jpg.txt,2,26,22,277,144,car,151.5,83.0,168,...,83.0,151.5,False,car,car,na,na,na,car,NaN
1,download (10).jpg.txt,15,47,6,276,164,cat,161.5,85.0,168,...,85.0,161.5,False,cat,cat,na,na,na,na,NaN
3,download (11).jpg.txt,15,18,3,265,164,cat,141.5,83.5,168,...,83.5,141.5,False,cat,cat,na,na,na,na,NaN
4,download (12).jpg.txt,15,1,10,181,217,cat,91.0,113.5,224,...,113.5,91.0,False,cat,na,na,na,na,cat,NaN
5,download (12).jpg.txt,60,8,9,221,218,diningtable,114.5,113.5,224,...,113.5,114.5,False,diningtable,na,na,na,na,na,NaN
6,download (13).jpg.txt,15,35,0,257,159,cat,146.0,79.5,159,...,79.5,146.0,False,cat,cat,na,na,na,na,NaN
7,download (14).jpg.txt,20,84,34,209,170,elephant,146.5,102.0,194,...,102.0,146.5,False,elephant,elephant,na,na,na,na,NaN
17,download (15).jpg.txt,20,159,96,174,117,elephant,166.5,106.5,168,...,106.5,166.5,False,elephant,elephant,na,na,na,elephant,NaN
19,download (16).jpg.txt,20,139,85,213,165,elephant,176.0,125.0,184,...,125.0,176.0,False,elephant,elephant,na,na,na,elephant,NaN
21,download (17).jpg.txt,2,137,91,221,155,car,179.0,123.0,183,...,123.0,179.0,False,car,car,na,na,na,na,NaN
23,download (18).jpg.txt,2,83,61,259,162,car,171.0,111.5,190,...,111.5,171.0,False,car,car,na,na,na,na,NaN
26,download (19).jpg.txt,2,103,104,167,146,car,135.0,125.0,179,...,125.0,135.0,False,car,car,na,na,na,na,NaN
27,download (2).jpg.txt,2,66,54,248,131,car,157.0,92.5,168,...,92.5,157.0,False,car,car,na,na,na,na,NaN
30,download (3).jpg.txt,2,18,64,249,155,car,133.5,109.5,168,...,109.5,133.5,False,car,car,na,na,na,na,NaN
31,download (4).jpg.txt,2,18,34,241,146,car,129.5,90.0,194,...,90.0,129.5,False,car,na,na,na,na,na,NaN
32,download (5).jpg.txt,2,0,32,275,141,car,137.5,86.5,183,...,86.5,137.5,False,car,car,na,na,na,na,NaN
33,download (6).jpg.txt,5,9,47,231,118,bus,120.0,82.5,194,...,82.5,120.0,False,bus,na,na,na,na,na,NaN
34,download (7).jpg.txt,5,26,54,247,153,bus,136.5,103.5,172,...,103.5,136.5,False,bus,bus,na,na,na,na,NaN
36,download (8).jpg.txt,5,11,28,292,142,bus,151.5,85.0,159,...,85.0,151.5,False,bus,bus,na,na,na,na,NaN
38,download (9).jpg.txt,0,254,96,259,126,person,256.5,111.0,194,...,111.0,256.5,False,person,person,na,na,na,na,NaN
39,download.jpg.txt,2,38,64,241,154,car,139.5,109.0,171,...,109.0,139.5,False,car,car,na,na,na,na,NaN
42,images (1).jpg.txt,2,85,102,259,193,car,172.0,147.5,194,...,147.5,172.0,False,car,car,na,car,na,na,NaN
45,images.jpg.txt,0,156,96,291,173,person,223.5,134.5,173,...,134.5,223.5,False,person,person,na,person,na,na,NaN