In [7]:
import pandas as pd

variable1 = pd.read_csv('Book1.csv')
#variable1.tail(3) #just see the bottom 3 rows, call .head for top 3 rows
#variable1.head(3)

#variable2=pd.read_excel("V2 Generation de reco d'objets dans image v2 (1).xlsx"), not working correctly
variable1
variable1.to_csv('complete.csv', encoding='utf-8', index=False)

In [6]:
df = pd.read_csv('Book1.csv')

df['count'] = 1

variaable=df.groupby(['Image name']).count()['count']
variablee=variaable.to_csv('hey.csv', encoding='utf-8', index=False)

In [13]:
import pandas as pd

variable1 = pd.read_csv('Book1.csv')
variable1['X1'] #case sensitive

0      26
1      47
2       1
3      18
4       1
5       8
6      35
7      84
8       4
9     196
10     77
11    254
12      7
13    171
14    241
15     69
16     79
17    159
18     41
19    139
20     21
21    137
22     48
23     83
24     22
25     48
26    103
27     66
28    234
29    245
30     18
31     18
32      0
33      9
34     26
35      4
36     11
37     15
38    254
39     38
40     67
41     52
42     85
43     19
44     60
45    156
46      0
47     86
48    261
49     41
50     42
Name: X1, dtype: int64

In [22]:
variable1.describe() # not useful

       Object number          X1          Y1          X2          Y2
count      51.000000   51.000000   51.000000   51.000000   51.000000
mean       11.803922   76.980392   51.921569  213.215686  147.901961
std        11.581053   79.146065   33.649870   71.209357   28.283744
min         0.000000    0.000000    0.000000    8.000000   88.000000
25%         2.000000   18.000000   27.000000  172.500000  124.000000
50%         9.000000   48.000000   52.000000  242.000000  153.000000
75%        20.000000   94.500000   78.500000  259.000000  164.000000
max        60.000000  261.000000  114.000000  300.000000  218.000000

In [29]:
variable3.sort_values(['X1','Y1'], ascending=[True,True]) #not useful

               Image name  Object number   X1   Y1   X2   Y2    object name
32   download (5).jpg.txt              2    0   32  275  141            car
46         images.jpg.txt              2    0   44  167  173            car
2   download (10).jpg.txt             41    1    0   83  114            cup
4   download (12).jpg.txt             15    1   10  181  217            cat
8   download (14).jpg.txt             20    4   36   88  162       elephant
35   download (7).jpg.txt              9    4   83    8   92  traffic light
12  download (15).jpg.txt             19    7   74   71  122            cow
5   download (12).jpg.txt             60    8    9  221  218    diningtable
33   download (6).jpg.txt              5    9   47  231  118            bus
36   download (8).jpg.txt              5   11   28  292  142            bus
37   download (9).jpg.txt              5   15   39  242  154            bus
3   download (11).jpg.txt             15   18    3  265  164            cat
31   download (4).jpg.txt              2   18   34  241  146            car
30   download (3).jpg.txt              2   18   64  249  155            car
43     images (1).jpg.txt              7   19   65  255  194          truck
20  download (17).jpg.txt             20   21   20  200  155       elephant
24  download (18).jpg.txt             16   22    6  171  133            dog
0    download (1).jpg.txt              2   26   22  277  144            car
34   download (7).jpg.txt              5   26   54  247  153            bus
6   download (13).jpg.txt             15   35    0  257  159            cat
39       download.jpg.txt              2   38   64  241  154            car
18  download (16).jpg.txt             20   41    8  169  165       elephant
49         images.jpg.txt              0   41  108   63  145         person
50         images.jpg.txt              0   42  109   62  129         person
1   download (10).jpg.txt             15   47    6  276  164            cat
22  download (17).jpg.txt             20   48   24  197  153       elephant
25  download (19).jpg.txt             20   48   26  249  150       elephant
41     images (1).jpg.txt              7   52   36  253  175          truck
44     images (1).jpg.txt              2   60   98  259  194            car
27   download (2).jpg.txt              2   66   54  248  131            car
40     images (1).jpg.txt             20   67   35  246  157       elephant
15  download (15).jpg.txt             20   69   74   88  118       elephant
10  download (15).jpg.txt             19   77   58  155  115            cow
16  download (15).jpg.txt             20   79   53  162  114       elephant
23  download (18).jpg.txt              2   83   61  259  162            car
7   download (14).jpg.txt             20   84   34  209  170       elephant
42     images (1).jpg.txt              2   85  102  259  193            car
47         images.jpg.txt             20   86    0  250  168       elephant
26  download (19).jpg.txt              2  103  104  167  146            car
21  download (17).jpg.txt              2  137   91  221  155            car
19  download (16).jpg.txt             20  139   85  213  165       elephant
45         images.jpg.txt              0  156   96  291  173         person
17  download (15).jpg.txt             20  159   96  174  117       elephant
13  download (15).jpg.txt             19  171   83  194  118            cow
9   download (15).jpg.txt             20  196   55  255  114       elephant
28   download (2).jpg.txt              2  234   73  270   88            car
14  download (15).jpg.txt             19  241   52  300  115            cow
29   download (3).jpg.txt              0  245   33  279  144         person
11  download (15).jpg.txt             20  254   50  299  116       elephant
38   download (9).jpg.txt              0  254   96  259  126         person
48         images.jpg.txt              0  261  114  286  153         person

In [8]:
#https://stackoverflow.com/questions/36271413/pandas-merge-nearly-duplicate-rows-based-on-column-value
variable2 = variable1.groupby('Image name').agg({'object name': ', '.join, 
                             }).reset_index()

variable2.to_csv('objectNAMESjoined.csv', encoding='utf-8', index=False)

In [72]:
variable4=variable1['X1']
variable4

0      26
1      47
2       1
3      18
4       1
5       8
6      35
7      84
8       4
9     196
10     77
11    254
12      7
13    171
14    241
15     69
16     79
17    159
18     41
19    139
20     21
21    137
22     48
23     83
24     22
25     48
26    103
27     66
28    234
29    245
30     18
31     18
32      0
33      9
34     26
35      4
36     11
37     15
38    254
39     38
40     67
41     52
42     85
43     19
44     60
45    156
46      0
47     86
48    261
49     41
50     42
Name: X1, dtype: int64

In [67]:
#variable5=variable2.insert(2, "X1", variable4, True), this is not working

In [73]:
variable1

               Image name  Object number   X1   Y1   X2   Y2    object name
0    download (1).jpg.txt              2   26   22  277  144            car
1   download (10).jpg.txt             15   47    6  276  164            cat
2   download (10).jpg.txt             41    1    0   83  114            cup
3   download (11).jpg.txt             15   18    3  265  164            cat
4   download (12).jpg.txt             15    1   10  181  217            cat
5   download (12).jpg.txt             60    8    9  221  218    diningtable
6   download (13).jpg.txt             15   35    0  257  159            cat
7   download (14).jpg.txt             20   84   34  209  170       elephant
8   download (14).jpg.txt             20    4   36   88  162       elephant
9   download (15).jpg.txt             20  196   55  255  114       elephant
10  download (15).jpg.txt             19   77   58  155  115            cow
11  download (15).jpg.txt             20  254   50  299  116       elephant
12  download (15).jpg.txt             19    7   74   71  122            cow
13  download (15).jpg.txt             19  171   83  194  118            cow
14  download (15).jpg.txt             19  241   52  300  115            cow
15  download (15).jpg.txt             20   69   74   88  118       elephant
16  download (15).jpg.txt             20   79   53  162  114       elephant
17  download (15).jpg.txt             20  159   96  174  117       elephant
18  download (16).jpg.txt             20   41    8  169  165       elephant
19  download (16).jpg.txt             20  139   85  213  165       elephant
20  download (17).jpg.txt             20   21   20  200  155       elephant
21  download (17).jpg.txt              2  137   91  221  155            car
22  download (17).jpg.txt             20   48   24  197  153       elephant
23  download (18).jpg.txt              2   83   61  259  162            car
24  download (18).jpg.txt             16   22    6  171  133            dog
25  download (19).jpg.txt             20   48   26  249  150       elephant
26  download (19).jpg.txt              2  103  104  167  146            car
27   download (2).jpg.txt              2   66   54  248  131            car
28   download (2).jpg.txt              2  234   73  270   88            car
29   download (3).jpg.txt              0  245   33  279  144         person
30   download (3).jpg.txt              2   18   64  249  155            car
31   download (4).jpg.txt              2   18   34  241  146            car
32   download (5).jpg.txt              2    0   32  275  141            car
33   download (6).jpg.txt              5    9   47  231  118            bus
34   download (7).jpg.txt              5   26   54  247  153            bus
35   download (7).jpg.txt              9    4   83    8   92  traffic light
36   download (8).jpg.txt              5   11   28  292  142            bus
37   download (9).jpg.txt              5   15   39  242  154            bus
38   download (9).jpg.txt              0  254   96  259  126         person
39       download.jpg.txt              2   38   64  241  154            car
40     images (1).jpg.txt             20   67   35  246  157       elephant
41     images (1).jpg.txt              7   52   36  253  175          truck
42     images (1).jpg.txt              2   85  102  259  193            car
43     images (1).jpg.txt              7   19   65  255  194          truck
44     images (1).jpg.txt              2   60   98  259  194            car
45         images.jpg.txt              0  156   96  291  173         person
46         images.jpg.txt              2    0   44  167  173            car
47         images.jpg.txt             20   86    0  250  168       elephant
48         images.jpg.txt              0  261  114  286  153         person
49         images.jpg.txt              0   41  108   63  145         person
50         images.jpg.txt              0   42  109   62  129         person

In [4]:
#https://stackoverflow.com/questions/53055315/filter-rows-with-minimum-values-groupwise-in-pandas-dataframe

variable6 = variable1[variable1['X1'] == variable1.groupby('Image name')['X1'].transform('min')]
variable6

variable6.to_csv('minimalX1+objectName.csv', encoding='utf-8', index=False)
#variable2.to_csv('objectNAMESjoined.csv', encoding='utf-8', index=False)

In [84]:
variable7=variable6['X1']
variable7

0     26
2      1
3     18
4      1
6     35
8      4
12     7
18    41
20    21
24    22
25    48
27    66
30    18
31    18
32     0
33     9
35     4
36    11
37    15
39    38
43    19
46     0
Name: X1, dtype: int64

In [94]:
#writing to csv
#https://stackoverflow.com/questions/16923281/writing-a-pandas-dataframe-to-csv-file

In [101]:
variable7 = variable1[variable1['X1'] == variable1.groupby('Image name')['X1'].transform('max')]
variable7
variable7.to_csv('objectsONtheRIGHT.csv', encoding='utf-8', index=False)

               Image name  Object number   X1   Y1   X2   Y2  object name
0    download (1).jpg.txt              2   26   22  277  144          car
1   download (10).jpg.txt             15   47    6  276  164          cat
3   download (11).jpg.txt             15   18    3  265  164          cat
5   download (12).jpg.txt             60    8    9  221  218  diningtable
6   download (13).jpg.txt             15   35    0  257  159          cat
7   download (14).jpg.txt             20   84   34  209  170     elephant
11  download (15).jpg.txt             20  254   50  299  116     elephant
19  download (16).jpg.txt             20  139   85  213  165     elephant
21  download (17).jpg.txt              2  137   91  221  155          car
23  download (18).jpg.txt              2   83   61  259  162          car
26  download (19).jpg.txt              2  103  104  167  146          car
28   download (2).jpg.txt              2  234   73  270   88          car
29   download (3).jpg.txt              0  245   33  279  144       person
31   download (4).jpg.txt              2   18   34  241  146          car
32   download (5).jpg.txt              2    0   32  275  141          car
33   download (6).jpg.txt              5    9   47  231  118          bus
34   download (7).jpg.txt              5   26   54  247  153          bus
36   download (8).jpg.txt              5   11   28  292  142          bus
38   download (9).jpg.txt              0  254   96  259  126       person
39       download.jpg.txt              2   38   64  241  154          car
42     images (1).jpg.txt              2   85  102  259  193          car
48         images.jpg.txt              0  261  114  286  153       person

In [105]:
variable8 = variable1[variable1['Y1'] == variable1.groupby('Image name')['Y1'].transform('max')]
variable8

variable8.to_csv('top.csv', encoding='utf-8', index=False)

#https://www.coursera.org/lecture/convolutional-neural-networks/www.deeplearning.ai-9EcTO
#mistake in bounding box calculation, hence the above video

PermissionError: [Errno 13] Permission denied: 'top.csv'