In [12]:
import pandas
csvfile = pandas.read_csv('.csv')

#reading csv

In [115]:
csvfile['count'] = 1

consolidated_csvfile=csvfile.groupby(['Image name']).count()['count']

#gk.first()

In [202]:
groupbybasic_csvfile = csvfile.groupby(['Image name']).size().reset_index(name='Size')
#print (groupbybasic_csvfile)

for i in groupbybasic_csvfile:
    print(i)

m
i

In [ ]:
import glob
from PIL import Image
import numpy as np
#https://stackoverflow.com/questions/51178166/iterate-through-folder-with-pillow-image-open

images = glob.glob("output/*.jpg")
for image in images:
    with open(image, 'rb') as file:
        img = Image.open(file)
        img=np.array(img)
        a=img.shape
        
       
        
        
        
       
       
        
        
        

#finding dimentions of all the jpeg files
#pattern(x:co-ordinate, y:co-ordinate, rgb:channel=3)

In [18]:
#https://stackoverflow.com/questions/36271413/pandas-merge-nearly-duplicate-rows-based-on-column-value
variable2 = csvfile.groupby('Image name').agg({'has on the left': ', '.join, 'has on the right': ', '.join, 'has in the centre': ', '.join, 'has on the top': ', '.join, 'has on the bottom': ', '.join, 
                             }).reset_index()
variable2.to_csv('consolidatedImageHasOnLeftRightCentreTopBottom.csv', encoding='utf-8', index=False)

In [91]:
#https://stackoverflow.com/questions/53055315/filter-rows-with-minimum-values-groupwise-in-pandas-dataframe

import pandas
csvfile2 = pandas.read_csv('preparing.csv')

variable6 = csvfile2[csvfile2['X-centre'] == csvfile2.groupby('Image name')['X-centre'].transform('min')]


variable6.to_csv('minimalXcentre+objectName+preparing+2.csv', encoding='utf-8', index=False)
                              
                           
#variable2.to_csv('objectNAMESjoined.csv', encoding='utf-8', index=False)

In [ ]:
#https://stackoverflow.com/questions/53055315/filter-rows-with-minimum-values-groupwise-in-pandas-dataframe

import pandas
csvfile2 = pandas.read_csv('preparing.csv')

variablemax = csvfile2[csvfile2['X-centre'] == csvfile2.groupby('Image name')['X-centre'].transform('max')]


variablemax.to_csv('maximalXcentre+objectName+preparing.csv', encoding='utf-8', index=False)

In [99]:
#https://stackoverflow.com/questions/53055315/filter-rows-with-minimum-values-groupwise-in-pandas-dataframe

import pandas
csvfile3 = pandas.read_csv('preparing.csv')

variablemaxy = csvfile3[csvfile2['Y-centre'] == csvfile3.groupby('Image name')['Y-centre'].transform('max')]


variablemaxy.to_csv('maximalYcentre+objectName+preparing.csv', encoding='utf-8', index=False)

In [100]:
#https://stackoverflow.com/questions/53055315/filter-rows-with-minimum-values-groupwise-in-pandas-dataframe

import pandas
csvfile4 = pandas.read_csv('preparing.csv')

variablemin = csvfile3[csvfile2['Y-centre'] == csvfile3.groupby('Image name')['Y-centre'].transform('min')]


variablemin.to_csv('minimlalYcentre+objectName+preparing.csv', encoding='utf-8', index=False)

In [108]:
consolidated_csvfile.to_csv("number_of_objects.csv",encoding='utf-8', index=False)

In [107]:
consolidated_csvfile

Image name
download (1).jpg.txt     1
download (10).jpg.txt    2
download (11).jpg.txt    1
download (12).jpg.txt    2
download (13).jpg.txt    1
download (14).jpg.txt    2
download (15).jpg.txt    9
download (16).jpg.txt    2
download (17).jpg.txt    3
download (18).jpg.txt    2
download (19).jpg.txt    2
download (2).jpg.txt     2
download (3).jpg.txt     2
download (4).jpg.txt     1
download (5).jpg.txt     1
download (6).jpg.txt     1
download (7).jpg.txt     2
download (8).jpg.txt     1
download (9).jpg.txt     2
download.jpg.txt         1
images (1).jpg.txt       5
images.jpg.txt           6
Name: count, dtype: int64

In [73]:
import pandas
csvfile = pandas.read_csv('complete2complete2.csv')

In [59]:
csvfile.columns

Index(['Image name', 'Object number', 'X1', 'Y1', 'X2', 'Y2', 'object name',
       'X-centre', 'Y-centre', 'X-Image Dimentions', 'Y-Image Dimentions',
       '(1/4)*Y-cordinates', '(1/4)*X-cordinates', 'y centre of object',
       'x centre of object', 'X centre < (1/4)*X-cordinates',
       'has on the left', 'has on the right', 'has on the top',
       'has on the buttom', 'has in the center', 'has isolated object',
       'right of', 'bottom of', 'top of', 'left of', 'least x', 'least y',
       'max y', 'max x', 'max x centre object', 'min x centre object',
       'max y centre object', 'min y centre object', 'diagonal object'],
      dtype='object')

In [54]:
csvfile.drop('Object number',  inplace=True, axis=1)

In [74]:
csvfile.drop(['Object number', 'X1', 'Y1', 'X2', 'Y2', 
        'Y-centre', 'X-Image Dimentions', 'Y-Image Dimentions',
       '(1/4)*Y-cordinates', '(1/4)*X-cordinates', 'y centre of object',
       'x centre of object', 'X centre < (1/4)*X-cordinates',
       'has on the left', 'has on the right', 'has on the top',
       'has on the buttom', 'has in the center', 'has isolated object',
       'right of', 'bottom of', 'top of', 'left of', 'least x', 'least y',
       'max y', 'max x', 'max x centre object', 'min x centre object',
       'max y centre object', 'min y centre object', 'diagonal object'], inplace=True,axis = 1)

In [75]:
csvfile.columns

Index(['Image name', 'object name', 'X-centre'], dtype='object')

In [77]:
variable2 = csvfile.groupby('Image name').agg({'object name': ', '.join, 
                             }).reset_index()
variable2

               Image name                                        object name
0    download (1).jpg.txt                                                car
1   download (10).jpg.txt                                           cat, cup
2   download (11).jpg.txt                                                cat
3   download (12).jpg.txt                                   cat, diningtable
4   download (13).jpg.txt                                                cat
5   download (14).jpg.txt                                 elephant, elephant
6   download (15).jpg.txt  elephant, cow, elephant, cow, cow, cow, elepha...
7   download (16).jpg.txt                                 elephant, elephant
8   download (17).jpg.txt                            elephant, car, elephant
9   download (18).jpg.txt                                           car, dog
10  download (19).jpg.txt                                      elephant, car
11   download (2).jpg.txt                                           car, car
12   download (3).jpg.txt                                        person, car
13   download (4).jpg.txt                                                car
14   download (5).jpg.txt                                                car
15   download (6).jpg.txt                                                bus
16   download (7).jpg.txt                                 bus, traffic light
17   download (8).jpg.txt                                                bus
18   download (9).jpg.txt                                        bus, person
19       download.jpg.txt                                                car
20     images (1).jpg.txt                   elephant, truck, car, truck, car
21         images.jpg.txt      person, car, elephant, person, person, person