In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('image 15.csv')

In [8]:
df

              Image name object name  object id  X-centre  Y-centre
0  download (15).jpg.txt    elephant          0     225.5      84.5
1  download (15).jpg.txt         cow          1     116.0      86.5
2  download (15).jpg.txt    elephant          2     276.5      83.0
3  download (15).jpg.txt         cow          3      39.0      98.0
4  download (15).jpg.txt         cow          4     182.5     100.5
5  download (15).jpg.txt         cow          5     270.5      83.5
6  download (15).jpg.txt    elephant          6      78.5      96.0
7  download (15).jpg.txt    elephant          7     120.5      83.5
8  download (10).jpg.txt         cat          8     161.5      85.0
9  download (10).jpg.txt         cup          9      42.0      57.0

In [16]:
# object_id_list = []
x_values = []
relations = []
for _,row in df.iterrows():
#     object_id_list.append(row['object id'])
    x_values.append(row['X-centre'])

In [17]:
def remove_value(current_element_index, current_list):
    if current_element_index==0:
        new_list = current_list[1:]
        return new_list
    new_list = current_list[:current_element_index-1]+current_list[current_element_index:]
    return new_list

In [18]:
for index,current_element in enumerate(x_values):
    new_x_values = remove_value(index, x_values)
    for new_element in new_x_values:
        if current_element<new_element:
            relations.append(f'object {x_values.index(current_element)} is to the left of object {x_values.index(new_element)}')
        if current_element>new_element:
            relations.append(f'object {x_values.index(current_element)} is to the right of object {x_values.index(new_element)}')

In [19]:
relations

['object 0 is to the right of object 1',
 'object 0 is to the left of object 2',
 'object 0 is to the right of object 3',
 'object 0 is to the right of object 4',
 'object 0 is to the left of object 5',
 'object 0 is to the right of object 6',
 'object 0 is to the right of object 7',
 'object 0 is to the right of object 8',
 'object 0 is to the right of object 9',
 'object 1 is to the left of object 2',
 'object 1 is to the right of object 3',
 'object 1 is to the left of object 4',
 'object 1 is to the left of object 5',
 'object 1 is to the right of object 6',
 'object 1 is to the left of object 7',
 'object 1 is to the left of object 8',
 'object 1 is to the right of object 9',
 'object 2 is to the right of object 0',
 'object 2 is to the right of object 3',
 'object 2 is to the right of object 4',
 'object 2 is to the right of object 5',
 'object 2 is to the right of object 6',
 'object 2 is to the right of object 7',
 'object 2 is to the right of object 8',
 'object 2 is to the right of object 9',
 'object 3 is to the left of object 0',
 'object 3 is to the left of object 1',
 'object 3 is to the left of object 4',
 'object 3 is to the left of object 5',
 'object 3 is to the left of object 6',
 'object 3 is to the left of object 7',
 'object 3 is to the left of object 8',
 'object 3 is to the left of object 9',
 'object 4 is to the left of object 0',
 'object 4 is to the right of object 1',
 'object 4 is to the left of object 2',
 'object 4 is to the left of object 5',
 'object 4 is to the right of object 6',
 'object 4 is to the right of object 7',
 'object 4 is to the right of object 8',
 'object 4 is to the right of object 9',
 'object 5 is to the right of object 0',
 'object 5 is to the right of object 1',
 'object 5 is to the left of object 2',
 'object 5 is to the right of object 3',
 'object 5 is to the right of object 6',
 'object 5 is to the right of object 7',
 'object 5 is to the right of object 8',
 'object 5 is to the right of object 9',
 'object 6 is to the left of object 0',
 'object 6 is to the left of object 1',
 'object 6 is to the left of object 2',
 'object 6 is to the right of object 3',
 'object 6 is to the left of object 4',
 'object 6 is to the left of object 7',
 'object 6 is to the left of object 8',
 'object 6 is to the right of object 9',
 'object 7 is to the left of object 0',
 'object 7 is to the right of object 1',
 'object 7 is to the left of object 2',
 'object 7 is to the right of object 3',
 'object 7 is to the left of object 4',
 'object 7 is to the left of object 5',
 'object 7 is to the left of object 8',
 'object 7 is to the right of object 9',
 'object 8 is to the left of object 0',
 'object 8 is to the right of object 1',
 'object 8 is to the left of object 2',
 'object 8 is to the right of object 3',
 'object 8 is to the left of object 4',
 'object 8 is to the left of object 5',
 'object 8 is to the right of object 6',
 'object 8 is to the right of object 9',
 'object 9 is to the left of object 0',
 'object 9 is to the left of object 1',
 'object 9 is to the left of object 2',
 'object 9 is to the right of object 3',
 'object 9 is to the left of object 4',
 'object 9 is to the left of object 5',
 'object 9 is to the left of object 6',
 'object 9 is to the left of object 7']